# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment files
.env
frontend/.env
backend/.env

# Build folders
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Package lock optional
# package-lock.json